/* .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo img {
    height: 40px; /* Adjust according to your logo size */
  /* } */
  
  /* .navbar-heading {
    text-align: center;
    flex-grow: 1;
  }
  
  .navbar-heading h1 {
    margin: 0;
    font-size: 20px;
    color: #333;
  } */ 